* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section {
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 1rem;
    /* padding: 0; */
    scroll-snap-align: start;
    overflow-y: hidden;
}

.section__content {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 3rem;
    width: 100%;
    height: 100%;
}

.section:nth-of-type(even) .section__content {
    transform: translateX(100%);
}

.section:nth-of-type(odd) .section__content {
    transform: translateX(-100%);
}

.section .section__content.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.section__header {
    font-size: 2.4rem;
    text-align: center;
}
.section__subheader {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

.section__figure {
    margin-inline: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.section__image {
    aspect-ratio: auto;
    max-width: 100%;
    max-height: 550px;
    border: 14px solid #f0ecec;
    border-radius: 4px;
}    

.section__text {
    color: #aa0799;
    font-weight: 600;
    font-size: 1.3rem;
    position: absolute;
    left: 10px;
    padding-inline: 0.5rem;
    margin-inline: 2rem;
    border-radius: 4px;
    /*  */
    backdrop-filter: blur(36px) saturate(95%);
    bottom: 20px;
}

.highlight {
    background-color: #aa0738;
    color: white;
}

/* RWD */

@media screen and (max-width: 845px) {
    .section__content {
        position: relative;
    }

    .section__text_below {
        top: 102%;
        background-color: #f0ecec;
    }
}


.section:nth-of-type(1) {
    background-image: linear-gradient(0deg, #f62839 0%, #ba0505 100%);
}
.section:nth-of-type(2) {
    background-image: linear-gradient(0deg, #f75b5b 0%, #f62839 100%);
}
.section:nth-of-type(3) {
    background-image: linear-gradient(0deg, #f44761 0%, #f75b5b 100%);
}
.section:nth-of-type(4) {
    background-image: linear-gradient(0deg, #d10088 0%, #f44761 100%);
}
.section:nth-of-type(5) {
    background-image: linear-gradient(0deg, #f92424 0%, #d10088 100%);
}
.section:nth-of-type(6) {
    background-image: linear-gradient(0deg, #de0a26 0%, #f92424 100%);
}
.section:nth-of-type(7) {
    background-image: linear-gradient(0deg, #ea7f7f 0%, #de0a26 100%);
}
.section:nth-of-type(8) {
    background-image: linear-gradient(0deg, #e37d00 0%, #ea7f7f 100%);
}
.section:nth-of-type(9) {
    background-image: linear-gradient(0deg, #e12e94 0%, #e37d00 100%);
}
.section:nth-of-type(10) {
    background-image: linear-gradient(0deg, #5b0000 0%, #e12e94 100%);
}
.section:nth-of-type(11) {
    background-image: linear-gradient(0deg, #ea7fb3 0%, #5b0000 100%);
}
.section:nth-of-type(12) {
    background-image: linear-gradient(0deg, #ce7fea 0%, #ea7fb3 100%);
}
.section:nth-of-type(13) {
    background-image: linear-gradient(0deg, #c34242 0%, #ce7fea 100%);
}
.section:nth-of-type(14) {
    background-image: linear-gradient(0deg, #e71414 0%, #c34242 100%);
}
.section:nth-of-type(15) {
    background-image: linear-gradient(0deg, #ea7f7f 0%, #e71414 100%);
}
.section:nth-of-type(16) {
    background-image: linear-gradient(0deg, #a01818 0%, #ea7f7f 100%);
}
.section:nth-of-type(17) {
    background-image: linear-gradient(0deg, #ca7171 0%, #a01818 100%);
}
.section:nth-of-type(18) {
    background-image: linear-gradient(0deg, #f936c5 0%, #ca7171 100%);
}
.section:nth-of-type(19) {
    background-image: linear-gradient(0deg, #f12850 0%, #f936c5 100%);
}
.section:nth-of-type(20) {
    background-image: linear-gradient(0deg, #ff0505 0%, #f12850 100%);
}
